* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: inline-block;
  color: navy;
  font-size: 90px;
  font-weight: bold;
  position: relative;
  top: 100px;
  height: 75px;
  width: 150px;
  text-align: center;
  
}

.life_box {
  display: block;
  background-color: darkgreen;
  color: cornflowerblue;
  font-size: 85px;
  font-weight: 600;
  position: relative;
  top: 420px;
  left: 150px;
  height: 125px;
  width: 550px;
  float: left;
  text-align: center;
}

.research_box {
  display: block;
  background-color: Navy;
  color: Black;
  font-size: 85px;
  font-weight: 600;
  position: relative;
  top: 420px;
  right: 150px;
  height: 125px;
  width: 550px;
  float: right;
  text-align: center;
}