* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #588BB3;
}

a:link {
  text-decoration: none;
} 

.link {
  display: inline-block;
  color: black;
  background-color: lightblue;
  margin: 50px;
  height: 100px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 100px;
  position: relative;
  top: 200px;
  left: 350px;
  border-style: outset;
  border-color: white;
}

.homepage {
  display: inline-block;
  color: black;
  background-color: lightblue;
  margin: 20px;
  text-align: center;
  font-size: 25px;
  border-style: outset;
  border-color: white;
}

.workhistory_t {
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  text-decoration: underline;
}

.workhistory_p {
  font-size: 2em;
}



