* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #588BB3;
}

a {
  text-decoration: none;
} 

/*.link {
  display: inline-block;
  color: black;
  background-color: lightblue;
  margin: 50px;
  height: 100px;
  width: 200px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 100px;
  position: relative;
  top: 200px;
  left: 350px;
  border-style: outset;
  border-color: white;
}*/

.homepage {
  display: flex;
  width: 4%;
  justify-content: center;
  color: black;
  background-color: lightblue;
  margin: 20px;
  text-align: center;
  font-size: 25px;
  border-style: outset;
  border-color: lightblue;
  padding: 4px;
}


.workhistory_t {
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  text-decoration: underline;
  margin: 40px;
}

.workhistory_p {
  font-size: 2em;
  margin-bottom: 30px;
}

.buttoncontainer, .box {
  display: flex;
  padding: 10px;
}

.buttoncontainer {
  justify-content: space-around;
  margin: 75px;
}

.box {
  border: 4px lightblue;
  border-style: outset;
  background-color: lightblue;
  color: black;
  font-size: 32px;
  width: 12%;
  justify-content: center;
}
