body {
  background-color: aquamarine;
}

a:link {
  text-decoration: none;
}

.homepage, .dfpage {
  display: inline-block;
  color: black;
  margin: 20px;
  text-align: center;
  font-size: 25px;
  border-style: outset;
  border-color: white;
  background-color: lightblue;
}