body {
  background-color: aquamarine;
}

a {
  text-decoration: none;
}

.navcontainer, .navbutton, .dfbut, .dfcontainer {
  display: flex;
}

.navcontainer {
  justify-content: left;
  margin: 10px;
}

.navbutton {
  width: 6%;
  justify-content: center;
  color: black;
  background-color: lightblue;
  margin: 10px;
  text-align: center;
  font-size: 25px;
  border-style: outset;
  border-color: lightblue;
  padding: 4px;
}

.dftitle {
  text-align: center;
  font-size: 3em;
  font-weight: 800;
  text-decoration: underline;
  margin: 50px;
}

.dfparag {
  font-size: 2em;
}

.dfcontainer {
  justify-content: space-around;
  margin: 50px;
}

.dfbut {
  border: 4px lightblue;
  border-style: outset;
  background-color: lightblue;
  color: black;
  font-size: 32px;
  width: 10%;
  justify-content: center;
  padding: 10px;
}